<div class="plate">
    <div class="plate__image-container">
        <img class="plate__image" src="{{imageSrc}}" alt="Образование"/>
    </div>
    <div class="plate__title">Добро пожаловать!</div>
    <div class="plate__text">
        Вы находитесь на тестовой странице, которую мы успешно сверстали в рамках курса Сириус РПМ (Frontend) / Осень 2022!
    </div>
</div>
